@import url('https://fonts.googleapis.com/css?family=Raleway');

.app {
  width: 800px;
  margin: 100px auto;
  font-family: 'Raleway', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 30px;
}